mixin footer
    footer.footer#footer
        .container
            .footer__questions.questions-block
                .questions-block__title Остались вопросы или нужна помощь специалиста?
                .questions-block__subtitle Задай вопрос техническому специалисту
                a.questions-block__btn.btn.btn_main.btn_icon.btn_icon-chevron(href="#") Задать вопрос
        .footer__body
            .container
                .footer__column.footer__column_1
                    .footer__column-title.footer__column-title_logo: a.footer__logo(href="/"): img(src="img/kamisaw_white.svg", alt="KAMI saw логотип", width="172", height="35")
                    .footer__column-content
                        p В течение 2-х лет наши пилы проходили испытания в Красноярске, Иркутске, Братске, Дальнем Востоке и Кирове. Результаты работы пил показали отличное качество распиловки и долговечность.
                .footer__column
                    .footer__column-title Быстрые ссылки
                    .footer__column-content
                        .footer__menu
                            ul
                                li: a(href="https://www.stanki.ru/catalog/lesopilnye_diskovye_pily/" target="_blank") Лесопильные пилы
                                li: a(href="https://www.stanki.ru/catalog/diskovye_pily_/" target="_blank") Мебельные пилы
                                li: a(href="https://www.stanki.ru/catalog/instrument_dlya_derevoobrabotki/" target="_blank") Каталог
                .footer__column
                    .footer__column-title Контакты
                    .footer__column-content
                        .footer__address Большая Семёновская ул., 40, стр. 13, Москва, Россия
                        .footer__mail: a(href="mailto:kamisaw@info.ru" target="_blank") kamisaw@info.ru
                        .footer__phone: a(href="tel:88000000000") 8 (800) 000 00-00
                        .footer__socials.socials
                            ul
                                li: a(href="https://t.me/kami_group/" target="_blank" rel="nofollow"): img(src="img/icon_telegram.png", alt="KAMI Telegram", width="30px" height="30px")
                                li: a(href="https://vk.com/kami_association" target="_blank" rel="nofollow"): img(src="img/icon_vk.png", alt="KAMI Вконтакте", width="30px" height="30px")
                                li: a(href="https://www.youtube.com/user/stankiru/" target="_blank" rel="nofollow"): img(src="img/icon_yt.png", alt="KAMI Youtube", width="30px" height="30px")

                .footer__column
                    .footer__column-title Карта
                    .footer__column-content
                        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A568cceb48601abaa7c628bc2cc8e07cd67e7e3441f7f1c98360af365c5a52f19&amp;source=constructor" width="100%" height="180px" frameborder="0"></iframe>
        .footer__copy
            .container
                p Вы принимаете условия <a href="#">политики конфиденциальности и пользовательского соглашения</a> каждый раз, когда оставляете свои данные в любой форме обратной связи на сайте stanki.ru.
                span © Copyright 2022. Все права защищены.