.footer {
  margin-top: 112/16+em;

  &__questions {
  }

  &__body {
    background-color: #272727;
    color: #ffffff;
    margin-top: -6.75em;
    padding-top: 212/16+em;
    padding-bottom: 86/16+em;

    @media screen and (max-width: 1380px) {
      font-size: 14px;
    }
    @media screen and (max-width: 650px) {
      padding-top: 8.25em;
    }
    @media screen and (max-width: 550px) {
      margin-top: -370px;
      padding-top: 390px;
    }
    @media screen and (max-width: 414px) {
      margin-top: -330px;
      padding-top: 350px;
    }

    .container {
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 1100px) {
        flex-wrap: wrap;
      }
    }
  }

  &__copy {
    padding-top: 1.35em;
    padding-bottom: 2.25em;
    background-color: #383838;
    color: #ffffff;

    @media screen and (max-width: 950px) {
      text-align: center;
    }

    @media screen and (max-width: 550px) {
      font-size: 14px;
    }

    .container {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      @media screen and (max-width: 950px) {
        flex-direction: column;
        align-items: center;
      }
    }

    p {
      margin: 0 120px 0 0;
      padding: 0;
      max-width: 960px;
      @media screen and (max-width: 950px) {
        margin: auto auto 20px;
      }
    }

    a {
      color: $color_accent;
    }

    span {
      flex-shrink: 0;
    }
  }

  &__column {

    &_1 {
      width: 30%;
      @media screen and (max-width: 1100px) {
        width: calc(50% - 25px);
        margin-bottom: 40px;
      }
      @media screen and (max-width: 650px) {
        width: 100%;
      }
    }

    width: calc(70% / 3 - 70px);
    flex-shrink: 0;

    @media screen and (max-width: 1380px) {
      width: calc(70% / 3 - 14px);
    }

    @media screen and (max-width: 1100px) {
      width: calc(50% - 25px);
    }

    @media screen and (max-width: 650px) {
      width: 100%;
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0;
      }
    }


    &-title {
      font-weight: 700;
      font-size: 1.25em;
      padding-bottom: .75em;
      position: relative;
      margin-bottom: 24/20+em;

      &::before,
      &::after {
        content: '';
        height: 2px;
        background-color: $color_accent;
        border-radius: 4px;
        display: block;
        position: absolute;
        bottom: 0;
      }

      &::before {
        width: 50px;
        left: 0;
      }

      &::after {
        width: 5px;
        left: 54px;
      }

      &_logo {
        margin-top: -.5em;

        @media screen and (max-width: 650px) {
          padding-top: 30px;
          margin-top: 0;
          &::before,
          &::after {
            top: 0;
            bottom: auto;
          }
        }
      }
    }

    &-content {
      p {
        margin: 0;
      }
    }
  }

  &__menu {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    a {
      color: inherit;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__address {
    margin-bottom: 26/16+em;
  }

  &__mail {
    margin-bottom: .35em;
  }

  &__address,
  &__mail,
  &__phone {
    a {
      color: inherit;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__socials {
    margin-top: 26/16+em;
  }

  iframe {
    display: block;
  }
}